@font-face {
    font-family: "Rijksmuseum Normal";
    src: url("../font/Rijksmuseum-Normal.woff") format("woff");
}

@font-face {
    font-family: "Rijksmuseum Bold";
    src: url("../font/Rijksmuseum-Bold.woff") format("woff");
}

* { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Rijksmuseum Normal", sans-serif;
    scroll-behavior: smooth;
}

header {
    position:fixed;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 3em 3em 1.5em 3em;
    background-color: rgb(27, 27, 27);
    z-index: 2;
}

header::before {
    content: "";
    position: absolute;
    width: calc(100% - 6em);
    background-color: #fff;
    bottom: 0;
    height: 1px;
}

header img {
    height: 3em;  
}

main {
    padding: 9em 3em 3em 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    display: block;
    width: 100%;
    font-size: 5em;
    font-family: "Rijksmuseum Bold";
    text-transform: uppercase;
    margin: 0;
}

section {
    display: flex;
}

.titels {
    width: 30%;
    position: fixed;
    bottom: 3em;
    overflow-wrap: break-word;
}

.resultaten {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: calc(30% - 3em);
}


article {
    width: 26em;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1em 5em;
    flex-grow: 2;
    align-content: flex-start;
    align-self: flex-start;
}


article:nth-child(1) {
    /* margin-top: 13em; */
}

article img {
    width: 100%;
}



input {
    padding: 1em 1.3em;
    border: none;
    border-radius: 1em;
}

button {
    appearance: none;
    border: none;
    border-radius: .6em;
    padding: .7em 1em;
    margin-left: 1em;
}

form {
    position: fixed;
    margin: 0;
    bottom: 3em;
    right: 3em;
    display: flex;
    flex-direction: row;
}